<div class="name">name: {{ magic.name }}</div>
<div class="type">type: {{ magic.type }}</div>
<div>
  <div class="stats-requirements" *ngIf="magic.intelligence !== null"><img src="/assets/icon_intelligence.webp"
                                                                           alt="intelligence"
                                                                           title="intelligence"><span>{{ magic.intelligence }}</span>
  </div>
  <div class="stats-requirements" *ngIf="magic.faith !== null"><img src="/assets/icon_faith.png" alt="faith"
                                                                    title="faith"><span>{{ magic.faith }}</span></div>
</div>
<div class="slots">slots: {{ magic.slots }}</div>
<div class="spellUses">spell uses: {{ magic.spell_uses }}</div>
<details>
  <summary>info</summary>
  <div class="description">{{ magic.description }}</div>
</details>
<button class="add-spell" (click)="returnSpell.emit(magic)">add spell</button>
<br>

