<div class="hero-card">
  <span class="name">{{ hero.name }}</span> / <button class="nap" (click)="chillAndRelax()">Have a rest</button>
  /
  <button class="introduce" (click)="hero.introduce()">Say what again!</button>
  <br>
  <label>Inventory</label>
  <div class="inventory">
    <ng-container *ngFor="let item of hero.inventory; index as index">
      <span class="name">{{ item.name }}</span>
      /
      <span class="quantity">{{ item.quantity }}</span>
      <button class="btn-minus" [disabled]="item.quantity < 1" (click)="decrementItemQuantity(item)">-</button>
      <button class="arrow" (click)="moveItemToTheBox(index, hero.inventory)">-></button>
      <br>
    </ng-container>
    <br>
    <label>Equipment</label>
    <div class="equipment">
      <ng-container *ngFor="let item of hero.equipments; index as index">
        <span class="equipment-name">{{ item.name }}</span>
        <button class="arrow" (click)="moveItemToTheBox(index, hero.equipments)">-></button>
        <br>
      </ng-container>
    </div>
    <br>
    <label>Attunement</label>
    <div class="attunement">
      <ng-container *ngFor="let item of hero.attunement; index as index">
        <div><span class="attunement-name">{{ item.name }}</span> / <span class="attunement-type">{{ item.type }}</span>
          / <span class="attunement-uses">{{ item.spell_uses }}</span>
          <button class="cast-spell" title="cast" (click)="decrementSpellQuantity(item)" [disabled]="item.spell_uses <= 0">🪄</button>
        </div>
      </ng-container>
      <div><span class="remaining-slots">remaining slots: {{hero.remainingSlots}}</span></div>
    </div>
  </div>
</div>

<div class="bottomless-class">
  <label>Bottomless box</label>
  <br>
  <span class="box-item" *ngFor="let item of hero.bottomlessBox; index as index">{{ item.name }}
    / {{ item.quantity }}
    <button class="arrow" (click)="moveItemToTheInventoryOrEquipment(index)"><-</button><br></span>
</div>

<div class="spell-toast" *ngFor="let alert of alerts">
  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
</div>

