<div class="row">
  <div class="column">
    <button (click)="cloneHero()">Clone</button>
    <app-hero [hero]="firstHero"></app-hero>
  </div>
  <div class="column" *ngFor="let item of clonedHero; index as index">
    <app-hero [hero]="item"></app-hero>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="all-inventory">
      <ng-container *ngFor="let item of darkSoulsInventoryItems">
        <span class="name">{{ item.name }}</span>
        /
        <span class="quantity">{{ item.quantity }}</span>
        <button class="add-item" [disabled]="item.quantity < 1" (click)="addItemToInventory(item)">+</button>
        <br>
      </ng-container>
    </div>
  </div>
    <div class="column">
    <div class="magic">
      <app-spell-card [magic]="item" *ngFor="let item of darkSoulsSpells">
        </app-spell-card>
      </div>
    </div>
</div>

<div class="add-inventory-item">
  <h4>Create new inventory item</h4>
  <input type="text" name="name" [(ngModel)]="newInventoryItem.name" placeholder="name">
  <input type="checkbox" name="consumable" title="Consumable" [(ngModel)]="newInventoryItem.consumable">
  <input type="checkbox" name="keyItem" title="Key item" [(ngModel)]="newInventoryItem.keyItem">
  <input type="number" name="quantity" title="Quantity" [(ngModel)]="newInventoryItem.quantity">
  <button type="submit" (click)="addItemToMagazine()">Submit</button>
</div>

<div class="add-equipment-item">
  <h4>Create new equipment item</h4>
  <input type="text" name="name" [(ngModel)]="newEquipmentItem.name" placeholder="name">
  <input type="number" name="durability" title="Durability" [(ngModel)]="newEquipmentItem.durability">
  <input type="checkbox" name="magical" title="Magical" [(ngModel)]="newEquipmentItem.magical">
  <input type="text" name="type" [(ngModel)]="newEquipmentItem.type" placeholder="type">
  <input type="number" name="quantity" title="Quantity" [(ngModel)]="newEquipmentItem.quantity">
  <button type="submit" (click)="addItemToEquipment()">Submit</button>
</div>

<div class="equipment">

</div>
